etap2/StudyTester/StudyTester/Service References/ServiceReference1/TestService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Questionnaire" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Questionnaire" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RemoteProcessingError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteProcessingError" nillable="true" type="tns:RemoteProcessingError" />
</xs:schema>